In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:

columns = [
    "age", "workclass", "fnlwgt", "education", "education-num",
    "marital-status", "occupation", "relationship", "race", "sex",
    "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"
]

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

df = pd.read_csv(
    url,
    header=None,
    names=columns,
    sep=", ",
    engine="python"
)

print("Dataset loaded successfully!")
print(df.head())

Dataset loaded successfully!
   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [4]:

df.replace("?", np.nan, inplace=True)
df.dropna(inplace=True)

print("\nMissing values handled!")
print(df.isnull().sum())

Missing values handled!
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [5]:
numerical_features = [
    "age", "fnlwgt", "education-num",
    "capital-gain", "capital-loss", "hours-per-week"
]

categorical_features = [
    "workclass", "education", "marital-status",
    "occupation", "relationship", "race",
    "sex", "native-country"
]

target = "income"

print("\nNumerical Features:", numerical_features)
print("Categorical Features:", categorical_features)

Numerical Features: ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
Categorical Features: ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

In [6]:
df_encoded = pd.get_dummies(
    df,
    columns=categorical_features,
    drop_first=True
)

print("\nOne-Hot Encoding completed!")
print(df_encoded.shape)

One-Hot Encoding completed!
(30162, 97)

In [7]:

scaler = StandardScaler()
df_encoded[numerical_features] = scaler.fit_transform(
    df_encoded[numerical_features]
)

print("\nNumerical features scaled!")

Numerical features scaled!

In [8]:
print("\nBefore Scaling (Sample):")
print(df[numerical_features].head())

print("\nAfter Scaling (Sample):")
print(df_encoded[numerical_features].head())

Before Scaling (Sample):
   age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

After Scaling (Sample):
        age    fnlwgt  education-num  capital-gain  capital-loss  \
0  0.042796 -1.062722       1.128918      0.146092     -0.218586
1  0.880288 -1.007871       1.128918     -0.147445     -0.218586
2 -0.033340  0.244693      -0.439738     -0.147445     -0.218586
3  1.108695  0.425240      -1.224066     -0.147445     -0.218586
4 -0.794697  1.406658       1.128918     -0.147445     -0.218586

   hours-per-week
0       -0.077734
1       -2.331531
2       -0.077734
3       -0.077734
4       -0.077734

In [9]:
df_encoded.to_csv("adult_preprocessed.csv", index=False)

print("\nPreprocessed dataset saved as 'adult_preprocessed.csv'")

Preprocessed dataset saved as 'adult_preprocessed.csv'

In [10]:

print("\nFinal Dataset Shape:", df_encoded.shape)
print("Task 4 completed successfully!")

Final Dataset Shape: (30162, 97)
Task 4 completed successfully!